.header
    background-color: white
    &.-sticky
        +mq('823px', max)
            display: none
        left: 0
        position: fixed 
        top: -100%
        +transition(500ms)
        width: 100%
        z-index: 10
        &.-stuck
            top: 0
    >#header
        >.container
            align-items: center
            @extend .flex
            flex-flow: row wrap 
            justify-content: space-between
            +mq('823px', max)
                justify-content: center
            padding-top: 5px
            padding-bottom: 5px
            >.logo
                flex: 0 0 auto 
                max-height: 81px
                +mq('823px', max)
                    margin: 0 auto
                img 
                    +mq('820px', max)
                        max-height: auto
                        max-width: 70px